body{
    padding: 0;
    margin: 0;
    background-color: #e5b5b5 !important;
}

/* ------------ container ------------ */
.container{
    padding:10px;
    width:380px;
    margin:0 auto;
}

/* ------------ header ------------ */
.header{
    height:220px;
    background-image: url('../images/header-bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:10px;
    top: 25px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    transform: rotate(45deg);
}

.camera{
    width : 30px;
    height: 30px;
    position: absolute;
    right:11px;
    top: 63px;
}
.camera i{
    font-size: 23px;
    color: #FFF;
}
.camera i:hover{
    cursor: pointer;
    transform: rotate(45deg);
}

#date{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: rgb(136, 136, 136);
    font-size: 15px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: bold;
}

.welcome{
    position: absolute;
    bottom: 40px;
    left: 15px;
    color: #FFF;
    font-size: 32px;
    font-family: 'Montserrat-Regular', sans-serif;
    font-weight: bold;
}

/* ------------ content ------------ */
.content{
    max-height:350px;
    background-color: #e5b5b5;
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    /*background-color: #FFF;*/
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : rgb(255, 255, 255);
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    height:60px;
    background-color: #e5b5b5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #3d43ed;
}

.add-to-do input{
    position: absolute;
    left: 60px;
    height: 35px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}
.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #3d43ed;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #3d43ed;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #3d43ed;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #3d43ed;
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 20px;
}




























